.menu.selected {
    color: tomato;
    font-weight: bolder;
    border-bottom: 2px solid tomato;
    text-decoration: none;
}

.navbar {
	border-bottom: none;

  .track {
    width: 280px;
    display: inline-block;
  }

  input {
    width: 210px;
    display: inline-block;
  }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

#headr {
  .label_hel a {
    padding: 0px !important;
  }
}

.quote-detail-infos {
  input {
    width: 80px;
    height: 24px;
  }

  select {
    height: 24px;
    width: 80px;
  }
}

.deselect {
  font-size: 20px;
  margin-top: 30px;
  color: red;
}

.popover-close {
  font-size: 24px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.quick-quote {
  max-height: 600px;
  // overflow-y: scroll;
}
