.freight-option-accordion {
	display: flow-root;
	margin-bottom: 20px;

	.header {
		background: lightgray;
		border-radius: 5px;
		height: 45px;
		padding-top: 10px;
		padding-bottom: 10px;

		p {
			font-weight: bolder;
			font-size: 18px;
			padding-left: 10px;
		}

		button {
			float: right;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-right: 10px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.body {
		padding: 20px;

		div {
			width: 100%;
			padding-top: 8px;
			select {
				width: 60%;
				padding-top: 4px;
			}
	
			p {
				width: 40%;
				font-size: medium;
				padding-top: 4px;
			}
		}
	}
}
