.bbu-slider {
	width: 50% !important;

	select, textarea, label > input {
		margin-left: 20px;
	}

	div.value {
		margin-top: 10px;

		label {
			margin-top: 0px;
			vertical-align: top;
		}

		> input, > div {
			margin-left: 20px;
		}

		> input {
			width: 50%;
		}
	}
}
