.fp-pricing-pan {
	.slider-content {
		height: 100%;
		overflow-y: auto;

		.selected {
			background: lightblue;
		}
	}

	button {
		padding-top: 3px !important;
		padding-bottom: 3px !important;

		&.lowest, &.fastest {
			margin-bottom: 10px;
			margin-right: 10px;
		}
	}

	.text-right {
		text-align: right;
	}
}
