.lt-slider {
  label {
    color: brown;
  }

  .bg-gray {
    background-color: gray;
  }

  .table-view th,
  .table-view td {
    padding: 3px !important;

    p {
      padding: 0;
      margin: 0;
    }
  }

  .table-view td button {
    padding: 5px;
  }

  .line-section {
    tr.current {
      background: #9cf;
    }
  }

  h3 {
    display: inline;
  }

  .new-btn {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 0px 15px !important;
  }

  .form-view {
    label {
      display: block;
      width: 60%;
      margin-top: 10px;

      &:last-child {
        text-align: center;
      }

      p {
        display: inline-block;
        margin-top: 10px;
      }

      input, select {
        width: 70%;
        float: right;
      }

      select {
        height: 30px;
        margin-top: 7px;
      }
    }
  }
}