.lld-slider {
  .table-view th p {
    padding: 0;
    margin: 0;
  }

  .table-view td button {
    padding: 5px;
  }

  .line-section {
    tr.current {
      background: #9cf;
    }
  }

  h3 {
    display: inline;
  }

  .new-btn {
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .form-view {
    label {
      display: block;
      width: 40%;
      margin-top: 10px;

      &:last-child {
        text-align: center;
      }

      p {
        display: inline-block;
        margin-top: 10px;
      }

      input, select {
        width: 70%;
        float: right;
      }

      select {
        height: 30px;
        margin-top: 7px;
      }
    }
  }
}