.manifest-slider {
    width: 40% !important;

    p.need-truck {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

    p.manifest-timestamp {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
        vertical-align: middle;
        padding: 0 !important;
    }
}
