.note-pan {
	.table-view {
		button {
			font-size: 26px;
			padding: 0px 10px;
		}
	}

	.form-view {
		text-align: left !important;

		label {
			width: 80%;

			p {
				width: 20%;
				text-align: left;
				vertical-align: top;
			}

			>input, select{
				width: 40%;
				display: inline-block;
			}

			input {
				min-width: unset !important;
			}

			textarea  {
				width: 80%;
				display: inline-block;
			}

			select {
				height: 25px;
			}
		}

		.datetime {
			display: inline-block;
			width: 80%;
			margin: 10px 0;

			p {
				width: 20%;
				font-size: 12px;
				font-weight: bold;
				display: inline-block;
				text-align: left;
				vertical-align: top;
			}

			input {
				width: 100%;
			}

			.date-adjust {
				width: 24px !important;
				height: 24px !important;
				text-align: center;
				padding-top: 4px;
			}

			.date-adjust:hover {
				background: grey;
			}
		}

		.date {
			>div {
				width: 60%;
				display: inline-block;
				text-align: left;

				>div {
					display: inline-block;
				}
			}
		}

		.time {
			>div {
				width: 25%;
				display: inline-block;

				>div {
					width: 100%;
				}
			}
		}
	}
}