.pallet-slider {
    width: 40% !important;

    .table-view {
        >button {
            margin-bottom: 20px;
        }

        table button {
            padding: 7px;
        }
    }

    .form-view {
        text-align: center;

        label {
            display: block;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;

            p {
                width: 100px;
                display: inline-block;

                &.red {
                    width: 100%;
                }
            }

            >select, >input, >textarea {
                width: 60%;
                display: inline-block;
                vertical-align: top;
            }

            >select {
                height: 25px;
            }

            >div {
                width: 220px;
                display: inline-block;
                vertical-align: top;
            }
        }

        form > button {
            margin-top: 30px !important;
            margin-left: 10px;
            margin-left: 10px;
        }
    }
}
