.xls-modal {
	top: 100px;

	.modal-header h5 {
		font-size: 20px !important;
		font-weight: bold;
	}

	.modal-footer {
		display: block;
	}

	label {
		width: 70%;

		p {
			width: 40%;
			display: inline-block;
			vertical-align: top;
			margin-top: 5px;
		}

		>input, .react-datepicker-wrapper, select {
			float: right;

			&.checkbox {
				float: unset !important;
				margin-left: 24px;
				display: inline-block;
			}
		}

		select {
			width: 53%;
		}
	}

	p.red {
		color: red;
	}
}
