.xls-modal {
	top: 200px;
	
	.modal-header h5 {
		font-size: 20px !important;
		font-weight: bold;
	}
	
	.modal-footer {
		display: block;
	}
	
	.modal-body>div {
		margin: 10px 0px;
		width: 100%;

		p {
			width: 40%;
			display: inline-block;
			vertical-align: top;
			margin-top: 8px;
		}

		>input, .react-datepicker-wrapper, select {
			margin-top: 4px;
			width: 60%;
			&.checkbox {
				float: unset !important;
				width: 20px;
				margin-left: 0px;
				display: inline-block;
			}
		}

		.react-datepicker-wrapper input {
			 width: 100%;
		}

		select {
			width: 60%;
		}
	}

	p.red {
		color: red;
	}
}
