.additional-info, .booking-lines-info {
  background-color: gray;

  i {
    color: black;
    background-color: transparent;
  }
}

span.arrow {
  top: -16px !important;
}

.bs-popover-bottom .arrow::before {
  border-bottom-color: #eee;
}

.popover-inner .popover-header {
  text-align: center;
}

.location-info {
  padding: 20px;

  span:first-child {
    font-weight: 600;
  }
}

.popover {
  max-width: 1000px;
  width: auto;
}

.disp-inline-block {
  display: inline-block;
  vertical-align: top;
}

table.booking-lines {
  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }

  td.qty { background-color: #a4e85a; }

  th { background-color: #eee; }

  tr:hover {background-color: #f5f5f5; cursor: pointer;}
}

.pad-10p {
  padding: 10px;
}

// Main Table
.table-responsive {
  margin-top: 5px !important;
  height: calc(100% - 120px);
  width: 100%;
  overflow-x: scroll;

  th {
    white-space: nowrap;
    padding: 3px !important;

    p {
      display: inline-block;
      width: calc(100% - 10px);
      overflow: hidden;
    }

    i {
      vertical-align: top;
      float: right;
    }
  }
}

$table_body_height: 100%;
$column_1_width: 30px;
$column_2_width: 30px;
$column_3_width: 30px;
$column_4_width: 100px;
$column_5_width: 100px;
$column_6_width: 100px;
$column_7_width: 100px;
$column_8_width: 100px;
$column_9_width: 100px;
$column_10_width: 200px;
$column_11_width: 100px;
$column_12_width: 100px;
$column_13_width: 100px;
$column_14_width: 100px;
$column_15_width: 100px;
$column_16_width: 100px;
$column_17_width: 100px;
$column_18_width: 250px;

.fixed_headers {
  table {
    table-layout: fixed;
  }
  th { text-decoration: none; }
  th, td {
    font-weight: lighter;
    padding: 3px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { width: $column_1_width; }
  td:nth-child(2), th:nth-child(2) { width: $column_2_width; }
  td:nth-child(3), th:nth-child(3) { width: $column_3_width; }
  td:nth-child(4), th:nth-child(4) { width: $column_4_width; }
  td:nth-child(4) p, th:nth-child(4) p { width: 100px }
  td:nth-child(5), th:nth-child(5) { width: $column_5_width; }
  td:nth-child(5) p, th:nth-child(5) p { width: 150px }
  td:nth-child(6), th:nth-child(6) { width: $column_6_width; }
  td:nth-child(6) p, th:nth-child(6) p { width: 100px }
  td:nth-child(7), th:nth-child(7) { width: $column_7_width; }
  td:nth-child(7) p, th:nth-child(7) p { width: 100px }
  td:nth-child(8), th:nth-child(8) { width: $column_8_width; }
  td:nth-child(8) p, th:nth-child(8) p { width: 100px }
  td:nth-child(9), th:nth-child(9) { width: $column_9_width; }
  td:nth-child(9) p, th:nth-child(9) p { width: 150px }
  // td:nth-child(10), th:nth-child(10) { width: $column_10_width; }
  td:nth-child(10) p, th:nth-child(10) p { width: 200px }
  td:nth-child(11), th:nth-child(11) { width: $column_11_width; }
  td:nth-child(11) p, th:nth-child(11) p { width: 100px }
  td:nth-child(12), th:nth-child(12) { width: $column_12_width; }
  td:nth-child(12) p, th:nth-child(12) p { width: 100px }
  td:nth-child(13), th:nth-child(13) { width: $column_13_width; }
  td:nth-child(13) p, th:nth-child(13) p { width: 150px }
  td:nth-child(14), th:nth-child(14) { width: $column_14_width; }
  td:nth-child(14) p, th:nth-child(14) p { width: 150px }
  td:nth-child(15), th:nth-child(15) { width: $column_15_width; }
  td:nth-child(15) p, th:nth-child(15) p { width: 150px }
  td:nth-child(16), th:nth-child(16) { width: $column_16_width; }
  td:nth-child(16) p, th:nth-child(16) p { width: 150px }
  td:nth-child(17), th:nth-child(17) { width: $column_15_width; }
  td:nth-child(17) p, th:nth-child(17) p { width: 150px }
  td:nth-child(18), th:nth-child(18) { width: $column_15_width; }
  td:nth-child(18) p, th:nth-child(18) p { width: 150px }
  td:nth-child(19) p, th:nth-child(19) p { width: 150px }
  td:nth-child(20) p, th:nth-child(20) p { width: 150px }
  td:nth-child(21) p, th:nth-child(21) p { width: 150px }
  td:nth-child(22) p, th:nth-child(22) p { width: 150px }
  td:nth-child(23) p, th:nth-child(23) p { width: 150px }

  tr:nth-child(1), tr:nth-child(2) {
    color: #048abb;
  }

  tr td:nth-child(1) {
    text-align: center;
  }

  tr:nth-child(2) {
    font-size: 13px !important;
  }

  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    height: $table_body_height;
  }
}

.table-div {
  height: calc(100% - 100px);
  overflow: auto;
}

.allbookings {
  height: calc(100% - 71px);
  width: 100%;
  overflow: hidden;
}

.top-menu {
  height: calc(100% - 40px);
  width: 100%;
  overflow: hidden;
}

.fix-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

table {
  max-width: none !important;
}

.date-filter-input {
  line-height: 12px;
}

.float-right {
  float: right;
}

.bg-green {
  background-color: green;
}

.bg-gray {
  background-color: gray;
}
.bg-yellow {
  background-color: darkgoldenrod;
}
.cursor-pointer {
  cursor: pointer;
}

.font-size-16px {
  font-size: 16px;
}

.additional-info-popup-active,
.booking-lines-info-popup-active {
  background-color: gray;
}

.page-item > .page-link {
  color: #048fc2 !important;
}

.active > .page-link {
  color: white !important;
}

.popuptext {
  width: 200px !important;
}

.icon-download {
  font-size: 26px;
}

.multi-download {
  padding: 0px !important;
}

.booking-lines-div {
  max-height: 250px;
  overflow-y: auto;
}

.close-popover {
  font-size: 18px;
  position: absolute;
  right: 7px;
  top: 0px;
  cursor: pointer;
  padding: 0px !important;
}

.map-bok1-to-bookings {
  display: none;
}

.filter-tr {
  input {
    width: 100%;
  }
}

#warehouse {
  width: 300px;
  margin-right: 50px;
}

.tooltipitem {
  font-size: 10px !important;
}

.fa-sort-alpha-asc {
  margin-left: 5px;
}

.float-right {
  float: right;
}

.none {
  display: none !important;
}

.left-50px {
  margin-left: 50px;
}

.left-30px {
  margin-left: 30px;
}

.font-24px {
  font-size: 24px;
}

.width-100px {
  width: 100px;
}

.width-5p {
  width: 5%;
}

.width-10p {
  width: 10%;
}

.width-15p {
  width: 15%;
}

.width-150px {
  width: 150px;
}

.width-50px {
  width: 50px;
}

.width-30px {
  width: 30px;
}

.no-padding {
  padding: 0px !important;
}

.visualID-box {
  cursor: pointer;
}

.visualID-box:hover {
  background-color: lightblue;
}

ul.filter-conditions {
  margin-left: 40px !important;
  margin-top: 10px !important;
}

#all_booking .userclock {
  padding-right: 0px;
  text-align: left;
  padding-left: 115px;
}

.allbookings .fa-sort-amount-asc,
.allbookings .fa-sort-amount-desc {
  float: right;
}

.allbookings .container {
  max-width: none;
  width: 100%;
}

hr {
  margin-top: 0px;
  margin-bottom: 3px;
}

ul.nav-tabs {
  width: 100%;
  margin: 0 auto;

  li {
    cursor: pointer;

    a {
      font-weight: lighter;
    }
  }
}

.filter-controls {
  padding-left: 77px;
  margin-bottom: 10px;

  .date-adjust {
    width: 30px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
    padding-top: 10px;

    i {
      font-size: 18px;
    }
  }

  .btn {
    padding: 7px !important;
  }

  p {
    font-size: 18px;
    margin-top: 55px;
    font-weight: lighter;
  }
}

.filter-controls > .date-adjust:hover {
  background: gray;
}

.filter-conditions2 {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.filter-conditions2 > select {
    width: 150px;
    height: 30px;
}

.printer-column {
  text-align: center;

  i {
    float: none !important;
    margin-left: 3px;
    font-size: 16px;
    margin-top: 2px;
  }
}
