.additional-info, .booking-lines-info {
  background-color: gray;

  i {
    color: black;
    background-color: transparent;
  }
}

span.arrow {
  top: -16px !important;
}

.bs-popover-bottom .arrow::before {
  border-bottom-color: #eee;
}

.popover-inner .popover-header {
  text-align: center;
}

.location-info {
  padding: 20px;

  span:first-child {
    font-weight: 600;
  }
}

.popover {
  max-width: 1000px;
  width: auto;
}

.disp-inline-block {
  display: inline-block;
  vertical-align: top;
}

table.booking-lines {
  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }

  td.qty { background-color: #a4e85a; }

  th { background-color: #4CAF50; }

  tr:nth-child(even) {background-color: #f2f2f2;}

  tr:hover {background-color: #f5f5f5; cursor: pointer;}
}

.pad-10p {
  padding: 10px;
}

.all-trigger {
  margin-left: 50px;
}

// Main Table

.table-responsive {
  min-height: unset;
  overflow-x: unset;
  height: 1000px;
  height: 100%;

  .react-bootstrap-table {
    overflow-x: scroll;
  }

  .dropdown-menu {
    display: none;
  }

  .react-bootstrap-table-pagination-list > ul {
    float: right;
  }
}

.date-filter-input {
  line-height: 12px;
}

.float-right {
  float: right;
}

.bg-green {
  background-color: green;
}

.bg-gray {
  background-color: gray;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-16px {
  font-size: 16px;
}

.additional-info-popup-active,
.booking-lines-info-popup-active {
  background-color: gray;
}
