section.bok-price {
	padding-left: 10%;
	padding-right: 10%;
	height: calc(100% - 114px);
	overflow-y: scroll;

	.main-info {
		margin-bottom: 50px;
		padding: 20px;

		>div {
			width: 50%;			

			label {
				color: deepskyblue;
				font-size: 18px;
			}

			&.pu-info {
			}

			&.de-info {
			}

			.title {
				width: 150px;
				margin-left: 10px;
			}
		}
	}

	tr.selected {
		background-color: lightskyblue;
	}

	p {
		font-weight: bolder;
		font-size: 18px;
		padding-left: 10px;

		&.ignored-items {
			font-weight: lighter;
			padding: 0px !important;
		}
	}

	i {
		font-size: 16px;
		color: black;
		cursor: pointer;
	}

	table {
		i { color: goldenrod }

		button {
			i { color: white }

			&.reset {
				margin-left: 20px;
			}
		}

		input {
			width: 25%;
			height: 30px;
		}
	}

	div.decision {
		text-align: center;
		margin-bottom: 20px;

		button {
			margin: 0 2.5%;

			i { color: white }
		}
	}
}
