.bookingsets {
    height: calc(100% - 70px);

    .content {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
        height: calc(100% - 43px);
        overflow-y: hidden;
        margin: 0 auto;

        table {
            margin-top: 10px;

            th {
                // color: #048abb;
                background-color: #eee;
            }
        }

        div.buttons {
            margin-top: 0px;
        }
    }

    .table-responsive {
        margin-top: 5px !important;
        height: calc(100% - 50px);
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .tbl-content {
            height: calc(100% - 70px);
            overflow-x: hidden;
            overflow-y: auto;

            tr.active {
                background-color: #bee;
            }
        }

        th {
            white-space: nowrap;
            padding: 3px !important;

            p {
                display: inline-block;
                width: calc(100% - 10px);
                overflow: hidden;
            }

            i {
                vertical-align: top;
                float: right;
            }
        }
    }

    .tbl-pagination {
        float: right;
        display: inline-block;

        select {
            width: 75px;
            vertical-align: top;
            margin-top: 7px;
            margin-right: 10px;
        }

        label {
            vertical-align: top;
        }

        nav {
            display: inline-block !important;
        }

        .pagination-sm {
            .page-link {
                padding: 0.75rem 1rem;
            }

            .disabled {
                background-color: lightgray;
                cursor: not-allowed;
            }

            .current {
                background-color: lightgreen;
            }
        }
    }

    $table_body_height: 100%;
    $column_1_width: 30px;
    $column_2_width: 100px;
    $column_3_width: 100px;
    $column_4_width: 100px;
    $column_5_width: 250px;
    $column_6_width: 250px;
    $column_7_width: 70px;
    $column_8_width: 70px;
    $column_9_width: 250px;
    $column_10_width: 250px;

    $column_11_width: 70px;
    $column_12_width: 70px;
    $column_13_width: 50px;
    $column_14_width: 90px;
    $column_15_width: 90px;
    $column_16_width: 90px;
    $column_17_width: 90px;
    $column_18_width: 30px;
    $column_19_width: 90px;

    $column_20_width: 90px;
    $column_21_width: 110px;
    $column_22_width: 110px;
    $column_23_width: 110px;
    $column_24_width: 110px;
    $column_25_width: 110px;

    .fixed_headers{
        table-layout: fixed;

        th { text-decoration: none }

        th, td {
            font-weight: lighter;
            padding: 3px;
            text-align: left;

            input { margin: 0 !important }
        }

        td:nth-child(1), th:nth-child(1) { width: $column_1_width; }
        td:nth-child(1) p, th:nth-child(1) p { width: 30px }
        td:nth-child(2), th:nth-child(2) { width: $column_2_width; }
        td:nth-child(2) p, th:nth-child(2) p { width: 80px }
        td:nth-child(3), th:nth-child(3) { width: $column_3_width; }
        td:nth-child(3) p, th:nth-child(3) p { width: 80px }
        td:nth-child(4), th:nth-child(4) { width: $column_4_width; }
        td:nth-child(4) p, th:nth-child(4) p { width: 80px }
        td:nth-child(5), th:nth-child(5) { width: $column_5_width; }
        td:nth-child(5) p, th:nth-child(5) p { width: 120px }
        td:nth-child(6), th:nth-child(6) { width: $column_6_width; }
        td:nth-child(6) p, th:nth-child(6) p { width: 120px }
        td:nth-child(7), th:nth-child(7) { width: $column_7_width; }
        td:nth-child(7) p, th:nth-child(7) p { width: 50px }
        td:nth-child(8), th:nth-child(8) { width: $column_8_width; }
        td:nth-child(8) p, th:nth-child(8) p { width: 50px }
        td:nth-child(9), th:nth-child(9) { width: $column_9_width; }
        td:nth-child(9) p, th:nth-child(9) p { width: 120px }
        td:nth-child(10), th:nth-child(10) { width: $column_10_width; }
        td:nth-child(10) p, th:nth-child(10) p { width: 120px }

        td:nth-child(11), th:nth-child(11) { width: $column_11_width; }
        td:nth-child(11) p, th:nth-child(11) p { width: 50px }
        td:nth-child(12), th:nth-child(12) { width: $column_12_width; }
        td:nth-child(12) p, th:nth-child(12) p { width: 50px }
        td:nth-child(13), th:nth-child(13) { width: $column_13_width; }
        td:nth-child(13) p, th:nth-child(13) p { width: 30px }
        td:nth-child(14), th:nth-child(14) { width: $column_14_width; }
        td:nth-child(14) p, th:nth-child(14) p { width: 70px }
        td:nth-child(15), th:nth-child(15) { width: $column_15_width; }
        td:nth-child(15) p, th:nth-child(15) p { width: 70px }
        td:nth-child(16), th:nth-child(16) { width: $column_16_width; }
        td:nth-child(16) p, th:nth-child(16) p { width: 70px }
        td:nth-child(17), th:nth-child(17) { width: $column_17_width; }
        td:nth-child(17) p, th:nth-child(17) p { width: 70px }
        td:nth-child(18), th:nth-child(18) { width: $column_18_width; }
        td:nth-child(18) p, th:nth-child(18) p { width: 70px }
        td:nth-child(19), th:nth-child(19) { width: $column_19_width; }
        td:nth-child(19) p, th:nth-child(19) p { width: 30px }
        td:nth-child(20), th:nth-child(20) { width: $column_20_width; }
        td:nth-child(20) p, th:nth-child(20) p { width: 70px }

        td:nth-child(21), th:nth-child(21) { width: $column_21_width; }
        td:nth-child(21) p, th:nth-child(21) p { width: 70px }
        td:nth-child(22), th:nth-child(22) { width: $column_22_width; }
        td:nth-child(22) p, th:nth-child(22) p { width: 90px }
        td:nth-child(23), th:nth-child(23) { width: $column_23_width; }
        td:nth-child(23) p, th:nth-child(23) p { width: 90px }
        td:nth-child(24), th:nth-child(24) { width: $column_24_width; }
        td:nth-child(24) p, th:nth-child(24) p { width: 90px }
        td:nth-child(25), th:nth-child(25) { width: $column_25_width; }
        td:nth-child(25) p, th:nth-child(25) p { width: 90px }
        
        tr:nth-child(1), tr:nth-child(2) {
            color: #048abb;
        }

        tr td:nth-child(1) {
            text-align: center;
        }

        tr:nth-child(2) {
            font-size: 13px !important;
        }

        thead tr {
            display: block;
            position: relative;
        }

        tbody {
            display: block;
            overflow: auto;
            height: $table_body_height;
        }

        td.current, th.current {
            background-color: lightgray;
        }

        td {
            &.status-active {
                color: red;
                cursor: pointer;
            }

            &.status-inactive {
                color: gray;
                cursor: pointer;
            }

            &.status-active, &.status-inactive {
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .tbl-header > table {
        margin-bottom: 0 !important;
    }

    .table-div {
        height: calc(100% - 100px);
        overflow: auto;
    }
}
