.prev-btn,
.next-btn {
    border: 1px solid grey;
}

.not-editable {
	cursor: not-allowed;
}

.not-editable > div,
.not-editable table {
	pointer-events: none;
}

.not-editable div,
.not-editable input,
.not-editable table {
	background-color: #eee;
}

.not-editable input {
	border: none;
	padding-left: 20px;
}

.pad-left-20px {
	padding-left: 20px;
}

._loading_overlay_wrapper {
	.row {
		.col-sm-4 {
			padding: 0 !important;
		}

		.col-sm-8 {
			padding: 0 !important;
		}
	}
}

.form-group {
	margin-bottom: 0 !important;
}

.btn-standard {
	height: 40px;
	border: 1px solid #aaa;
	padding: 0px !important;
}

.btn-update {
	width: 70px;
}

.btn-comm {
	width: 150px;
}

.panel-title {
	width: 110%;
	margin-left: -5%;
}

.additional-pickup-div {
	margin-top: 0 !important;
}

.textarea-width {
	padding-left: 15px !important;
}

.create-comm {
	background: no-repeat;
	border: none;
	font-size: 36px;
	vertical-align: middle;

	i {
		vertical-align: middle;
	}
}

.create-comm-modal {
	margin-top: 200px;

	.modal-title {
		font-size: 20px !important;
		font-weight: bold !important;
	}

	label {
		width: 90%;

		p {
			width: 30%;
			display: inline-block;
		}

		input, select {
			width: 65%;
			display: inline-block;
		}

		select {
			height: 25px;
		}
	}
	
	.datetime {
		width: 50%;
		display: inline-block;

		p {
			width: 35%;
			font-size: 12px;
			font-weight: bold;
			display: inline-block;
		}

		>div {
			width: 45%;
			display: inline-block;

			input {
				width: 100%;
			}
		}

		.date-adjust {
			width: 12px !important;
			margin-left: 3px;
			margin-right: 3px;
		}

		.date-adjust:hover {
			background: grey;
		}
	}
}

#tab04 {
	button {
		width: 40px;

		i {
			font-size: 25px;
			color: #0189b9;
		}
	}

	button:hover {
		background-color: #eee;
	}

	.tab-inner {
		height: 300px;
	}
}
