.comm {
	height: calc(100% - 70px);

	.content {
		height: 100%;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

  table {
    input {
      width: 100%;
    }
  }
}

$table_body_height: 100%;
$column_1_width: 70px;
$column_2_width: 70px;
$column_3_width: 120px;
$column_4_width: 90px;
$column_5_width: 90px;
$column_6_width: 250px;
$column_7_width: 90px;
$column_8_width: 70px;
$column_9_width: 90px;
$column_10_width: 70px;

$column_11_width: 70px;
$column_12_width: 100px;
$column_13_width: 70px;
$column_14_width: 120px;
$column_15_width: 70px;
$column_16_width: 70px;
$column_17_width: 70px;
$column_18_width: 70px;
$column_19_width: 70px;

.comm .content .fixed_headers {
  table-layout: fixed;

  th { text-decoration: none; }
  th, td {
    font-weight: lighter;
    padding: 3px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { width: $column_1_width; }
  td:nth-child(2), th:nth-child(2) { width: $column_2_width; }
  td:nth-child(3), th:nth-child(3) { width: $column_3_width; }
  td:nth-child(4), th:nth-child(4) { width: $column_4_width; }
  td:nth-child(4) p, th:nth-child(4) p { width: 70px; }
  td:nth-child(5), th:nth-child(5) { width: $column_5_width; }
  td:nth-child(5) p, th:nth-child(5) p { width: 70px }
  td:nth-child(6), th:nth-child(6) { width: $column_6_width; }
  td:nth-child(6) p, th:nth-child(6) p { width: 70px }
  td:nth-child(7), th:nth-child(7) { width: $column_7_width; }
  td:nth-child(7) p, th:nth-child(7) p { width: 70px }
  td:nth-child(8), th:nth-child(8) { width: $column_8_width; }
  td:nth-child(8) p, th:nth-child(8) p { width: 70px }
  td:nth-child(9), th:nth-child(9) { width: $column_9_width; }
  td:nth-child(9) p, th:nth-child(9) p { width: 70px }
  td:nth-child(10), th:nth-child(10) { width: $column_10_width; }
  td:nth-child(10) p, th:nth-child(10) p { width: 70px }

  td:nth-child(11), th:nth-child(11) { width: $column_11_width; }
  td:nth-child(11) p, th:nth-child(11) p { width: 70px }
  td:nth-child(12), th:nth-child(12) { width: $column_12_width; }
  td:nth-child(12) p, th:nth-child(12) p { width: 70px }
  td:nth-child(13), th:nth-child(13) { width: $column_13_width; }
  td:nth-child(13) p, th:nth-child(13) p { width: 70px }
  td:nth-child(14), th:nth-child(14) { width: $column_14_width; }
  td:nth-child(14) p, th:nth-child(14) p { width: 100px }
  td:nth-child(15), th:nth-child(15) { width: $column_15_width; }
  td:nth-child(15) p, th:nth-child(15) p { width: 70px }
  td:nth-child(16), th:nth-child(16) { width: $column_16_width; }
  td:nth-child(16) p, th:nth-child(16) p { width: 70px }
  td:nth-child(17), th:nth-child(17) { width: $column_17_width; }
  td:nth-child(17) p, th:nth-child(17) p { width: 70px }
  td:nth-child(18), th:nth-child(18) { width: $column_18_width; }
  td:nth-child(18) p, th:nth-child(18) p { width: 70px }
  td:nth-child(19), th:nth-child(19) { width: $column_19_width; }
  td:nth-child(19) p, th:nth-child(19) p { width: 70px }

  tr:nth-child(1), tr:nth-child(2) {
    color: #048abb;
  }

  tr td:nth-child(1) {
    text-align: center;
  }

  tr:nth-child(2) {
    font-size: 13px !important;
  }

  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    height: $table_body_height;
  }

  td.active {
    background-color: whitesmoke;
  }
}

td.update {
  button {
    height: 25px !important;
    padding: 0 8px !important;
  }
}

.form-view {
  text-align: center;

  label {
    width: 100%;

    p {
      width: 100px;
      display: inline-block;
    }
    input {
      width: 200px;
      display: inline-block;
    }
  }
}

.button-group {
  margin-top: 20px;
}

$table_body_height: 100%;
$column_01_width: 30px;
$column_02_width: 30px;
$column_03_width: 30px;
$column_04_width: 30px;
$column_05_width: 30px;
$column_06_width: 200px;
$column_07_width: 30px;

.slider-content .fixed_headers {
  table-layout: fixed;

  th { text-decoration: none; }
  th, td {
    font-weight: lighter;
    padding: 3px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { width: $column_01_width; }
  td:nth-child(2), th:nth-child(2) { width: $column_02_width; }
  td:nth-child(3), th:nth-child(3) { width: $column_03_width; }
  td:nth-child(4), th:nth-child(4) { width: $column_04_width; }
  th:nth-child(4) >p { width: 70px; }
  td:nth-child(5), th:nth-child(5) { width: $column_05_width; }
  th:nth-child(5) >p { width: 70px }
  td:nth-child(6), th:nth-child(6) { width: $column_06_width; }
  th:nth-child(6) >p { width: 70px }
  td:nth-child(7), th:nth-child(7) { width: $column_07_width; }
  th:nth-child(7) >p { width: 70px }

  tr:nth-child(1), tr:nth-child(2) {
    color: #048abb;
  }

  tr td:nth-child(1) {
    text-align: center;
  }

  tr:nth-child(2) {
    font-size: 13px !important;
  }

  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    height: $table_body_height;
  }

  td.active {
    background-color: whitesmoke;
  }
}

.overflow-hidden {
  overflow: hidden;
  width: 100%;
}
