.status-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    border-radius: 10px;
    border-color: #8a8282;
    overflow: auto;
    margin: 0 50px;
    .status-main {
        .status-stepper {
            margin-bottom: 20px;
            color: lightgrey;
            
            li {
                list-style-type: none;
                width: 140px;
                font-size: 16px;
                margin-left: 80px;
                float: left;
                position: relative;
                background-color: transparent !important;
                text-align: center;
            }

            p {
                padding: 0 4px;
            }

            li:first-child {
                margin-left: 0px !important;
            }

            li:before {
                width: 50px;
                height: 50px;
                line-height: 45px;
                display: block;
                font-size: 22px;
                color: #8a8282;
                background: white;
                border-radius: 50%;
                border: lightgreen solid 2px;
                margin: 0 auto 12px auto;
                padding: 2px;
            }

            li:not(:last-child):after {
                content: '';
                width: 140%;
                height: 10px;
                background: transparent;
                border: none;
                border-top: rgb(142, 142, 142) solid 5px;
                border-top-style: dotted;
                position: absolute;
                left: 80px;
                top: 25px;
                z-index: -1;
            }

            li.passed:not(:last-child):after {
                content: '';
                width: 140%;
                height: 10px;
                background: transparent;
                border: none;
                border-top: rgb(11, 156, 204) solid 2px;
                position: absolute;
                left: 80px;
                top: 25px;
                z-index: -1;
            }

            .passed:before {
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: block;
                font-size: 16px;
                color: #8a8282;
                background: rgb(11, 156, 204);
                border-radius: 50%;
                border: 0px;
                margin: 14px auto 20px auto;
                padding-top: 0px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f00c";
                color: white;
            }

            .collect:before {
                color: rgb(11, 156, 204);
                border-color: rgb(11, 156, 204);
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f023';
            }

            .intransit:before {
                color: rgb(11, 156, 204);
                border-color: rgb(11, 156, 204);
                font-family: "Font Awesome 5 Free";
                content: "\f0d1";
                font-weight: 900;
                
            }

            .delivering:before {
                color: rgb(11, 156, 204);
                border-color: rgb(11, 156, 204);
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f0d1";
            }

            .delivered:before {
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: block;
                font-size: 16px;
                color: #8a8282;
                background: rgb(11, 156, 204);
                border-radius: 50%;
                border: 0px;
                margin: 14px auto 20px auto;
                padding-top: 0px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f00c";
                color: white;
            }

            .collect, .intransit, .delivering, .delivered {
                p {
                    background-color: rgb(11, 156, 204);
                    border-radius: 10%;
                    color: white;
                    font-size: 12px;
                    margin: 0 20px;
                }
            }

            .pending:before {
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: block;
                font-size: 16px;
                color: #8a8282;
                background: white;
                border-radius: 50%;
                border: #8a8282 solid 2px;
                margin: 14px auto 20px auto;
                padding-top: 0px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f00c";
                color: white;
            }

        }

        a {
            color: blue;
            padding: 0px;
        }
    }
    .status-info {
        padding: 20px;
    }
    .accordion .card-header {
        background: rgb(11, 156, 204);
    }

    .modal-header {
        font-size: 20px;
        color: white;
    }
    .modal-body {
        font-size: 16px;
    }

    .tel-number {
        display: flex;
        align-items: center;
        padding-left: 24px;
        font-weight: bold;
    }
}