section.status {
    height: calc(100% - 96px);
    overflow-y: auto;

    .status-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 120px;
        margin: 0px 10%;

        .navbar-brand {
            padding: 0px;
        }

        .logo-desc {
            font-size: 15.3px;
            font-weight: bold;
        }

        .head-logo {
            max-height: 100px;
        }
    }

    p.error {
        color: red;
        font-size: 20px;
        text-align: center;
    }

    .main-info {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 50px;

        >div {
            width: 50%;

            label {
                color: deepskyblue;
                font-size: 18px;
            }

            &.de-info {
                text-align: end;
            }
        }
    }

    .status-content {
        padding: 20px 10%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .status-summary {
            display: flex;
            justify-content: space-between;
            margin: 0px -15px 10px;
        }

        .status-summary-title {
            font-size: 16px;
            font-weight: bold;
        }

        .status-summary-desc {
            font-size: 16px;
            color: rgb(0, 117, 225);
        }

        .status-summary-updated {
            font-size: 16px;
            color: black;
        }

        .status-chart-sm {
            display: none;
        }

        .status-chart-bar {
            display: flex;
            align-items: center;
            margin: 30px 0px;
        }

        input {
            width: 30px;
            height: 30px;
            margin: 0px;
        }

        .status-chart-bar-bar {
            flex-grow: 1;
            height: 10px;
            background-color: rgb(0, 117, 225);
        }

        .status-chart-desc {
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }

        .status-chart-desc-item {
            height: 60px; 
        }

        .status-chart-desc-item-title {
            font-weight: bold;
            flex-grow: 1;
        }

        .status-chart-desc-item-desc {
            font-size: 10px;
        }
        
        .status-chart-item-sm {
            display: flex; 
            flex-direction: row;
            gap: 5px;
            align-items: center;
            justify-content: flex-start;
        }

        .status-details {
            display: flex;
            justify-content: space-around;
            margin: 0px;

            .status-details-item {
                padding: 16px 0px;

                .status-details-item-title {
                    font-size: 18px;
                    font-weight: bold;
                    height: 36px;
                }

                .status-details-item-subtitle {
                    font-size: 16px;
                    font-weight: bold;
                }

                .status-details-item-subdesc {
                    line-height: 1.5em;
                    font-size: 16px;
                    color: #4a4a4a;
                }
            }
        }

        .order-details {
            display: flex;
            flex-direction: column;
            margin: 0px 0px 50px;

            .order-details-title {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        padding: 5px 0px;
        font-family: "Open Sans", "Helvetica", "Arial", "sans-serif"!important;
        font-size: 14px;
        font-weight: normal;
    }

    .table > thead > tr > th {
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .status-chart {
        display: none;
    }
    .status-chart-desc-item-title {
        font-size: 12px;
    }
    .status-chart-desc-item {
        max-width: 60px;
    }
    section.status .status-content .status-chart-sm {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    section.status .status-content .status-chart-desc-item-title {
        font-size: 11px;
    }
    section.status .status-content .status-chart-desc-item-desc {
        font-size: 11px;
    }
    section.status .status-content input {
        width: 20px;
        height: 20px;
        margin: 0px;
    }
    section.status .status-head {
        min-height: 50px;
        margin: 10px 10%;
    }
    section.status .status-head .head-logo {
        max-height: 36px;
        margin-top: 20px;
    }
    section.status .status-head .logo-desc {
        display: none;
    }
    section.status .status-head .navbar-brand {
        margin: 0px;
    }
}
