body {
    background-color: white;
    font-family: $font-family;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.navbar { border-bottom: 4px solid dodgerblue }

.float-r { float: right }

.float-l { float: left }

.right { float: right }

.left { float: left }

.c-black { color: black }

.c-red { color: red !important }

.c-orange { color: orange }

.c-green { color: green }

.c-yellow { color: yellow !important }

.c-dme { color: #048abb }

.bg-dme { background-color: #048abb !important }

.bold { font-weight: bold }

.row:before, .row:after { display: none !important }

.text-center { text-align: center }

.text-right { text-align: right }

.mar-right-20 { margin-right: 20px }

.mar-left-20 { margin-left: 20px }

.bg-gray { background-color: gray }

.bg-lightgray { background-color: lightgray }

.bg-green { background-color: green }

.bg-lightgreen { background-color: lightgreen }

.bg-red { background-color: red }

.bg-lightred { background-color: lightcoral }

.bg-blue { background-color: blue }

.bg-lightblue { background-color: lightblue }

.bg-pink { background-color: pink }

.bg-lightpink { background-color: lightpink }

.bg-yellow { background-color: yellow }

.bg-lightyellow { background-color: lightyellow }

.padding-0 { padding: 0 !important }

.magin-0 { margin: 0 !important }

.uppercase { text-transform: uppercase }

.border-none { border: none !important }

.nowrap { white-space: nowrap }

.valign-top { vertical-align: top !important }

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mar-l-30p {
    margin-left: 30px;
}

.right-60px { margin-right: 60px }
.right-50px { margin-right: 50px }
.right-40px { margin-right: 40px }
.right-30px { margin-right: 30px }
.right-20px { margin-right: 20px }
.right-10px { margin-right: 10px }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: lightgrey;
 }