body {
    background-color: white;
    font-family: $font-family;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.navbar { border-bottom: 4px solid dodgerblue }

.float-r { float: right }

.float-l { float: left }

.right { float: right }

.left { float: left }

.c-black { color: black }

.c-red { color: red }

.c-dme { color: #048abb }

.bold { font-weight: bold }

.row:before, .row:after { display: none !important }

.text-center { text-align: center; }

.mar-right-20 { margin-right: 20px }

.mar-left-20 { margin-left: 20px }

.bg-gray { background-color: gray }

.bg-green { background-color: green }

.bg-lightgreen { background-color: lightgreen }

.bg-blue { background-color: blue }

.padding-0 { padding: 0 !important }

.magin-0 { margin: 0 !important }
