/**********UserHeader***********/

.user-header{
	-webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
}
a.user-menu i{
	font-size: 25px;
	margin-top: 7px;
	color: #333;
}
.user ul li {
	display: inline-block;
}
.user ul li img{
	height: 40px;
}
.user{
	text-align: right;
}
/**********UserHeader***********/

/**********Booking***********/

section.booking{
	margin-top: 20px;
	padding-top: 0px;
}
.progress{
	margin-bottom: 15px;
}
.userclock {
	text-align: left;
}
.peclock {
	text-align: right;
}

/**********Booking***********/

.btn-outline-light{
	background-color: transparent;
	color: #fff;
	border: none;
}
ul.grid-head li {
	display: inline-block;
	padding: 0 5px;
}
ul.grid-head {
	text-align: right;
}
ul.grid-head li:last-child {
	padding-right: 0px;
}
.btn-theme{
	background-color: #fff;
	color: #0189b9;
	border-color: #0189b9;
}

.btn-autoaugment {
	font-size: 14px !important;
	border-radius: 6px !important;
	border: 1px solid !important;
	padding: 3px 15px !important;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.btn-autoaugment-view {
	font-size: 14px !important;
	border-radius: 6px !important;
	border: 1px solid !important;
	padding: 3px 15px !important;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	background-color: #A3D979;

}

.btn-autoaugment-view:hover{
	background-color: #A3D979 !important;
	color: #fff !important;
	border-color: #005B7B !important;
}

.btn-autoaugment:hover{
	background-color: #0189b9 !important;
	color: #fff !important;
	border-color: #005B7B !important;
}

section.booking .grid .head{
	background-color: #0189b9;
	padding: 5px;
}
section.booking .grid .head p{
	padding-top: 8px;
}
input.form-control {
	border-color: #ebebeb;
	border-radius: 0;
	-webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
}
.input-group-addon{
	-webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	border-radius: 0;
	background-color: #fff;
	border-color: #ebebeb;
	padding: 7px 9px;
}
.detail-tab{
	-webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
	box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.11);
}
.inner-text {
	margin-top: 15px;
}
.mt-2{
	margin-top: 15px;
}
.mt-1{
	margin-top: 10px;
}
.mt-0{
	margin-top: 0px !important;
}

label {
	margin-top: 8px;
	font-size: 12px;
}
.fixed-height button{
  height: 50px !important;
}
.pickup-detail .head ul li {
	display: inline-block;
}
.pickup-detail .head ul li a{
	color: #fff;
}
.pickup-detail .head ul li:last-child{
	float: right
}
.pickup-detail form{
	padding: 15px;
}
.pickup-detail {
	border: 1px solid #ebebeb;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
#additional-pickup{
	font-size: 18px;
}
#additional-delivery{
	font-size: 18px;
}
.additional-pickup{
	/*display: none;*/
}
.additional-delivery{
	/*display: none;*/
}
.status-log {
	border: 1px solid #ebebeb;
	padding: 10px;
	margin: 10px;
	height: 185px !important;
	overflow-y: scroll;
}
.status-log h4 {
	margin-bottom: 10px;
}
a.popup i {
	font-size: 10px;
	color: #0189b9;
}
.custom-theme {
	width: 265px !important;
	font-size: 18px !important;
	border-radius: 12px !important;
	border: 1px solid !important;
	padding: 15px !important;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.custom-theme:hover{
	background-color: #0189b9;
	color: #fff;
}


.textarea-width {
  width: 100% !important;
}

.select-margin > div > div > div:nth-child(1) > div:nth-child(1) {
  margin-left: 15px !important;
}
/**********Booking***********/



/**********Tabs***********/
.tabs {

}
#tab-button {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#tab-button li {
	display: table-cell;
	width: 20%;
}
#tab-button li a {
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: .5em;
	background: #0189b9;
	border: 1px solid #ddd;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#tab-button li:not(:first-child) a {
	border-left: none;
}
#tab-button .is-active a {
	border-bottom-color: transparent;
	background: #fff;
	color: #333 !important;
}
.tab-contents {
	padding: .5em 2em 1em;
	border: 1px solid #ddd;
}
.tab-button-outer {
	display: none;
}
.tab-contents {
	margin-top: 20px;
}
@media screen and (min-width: 768px) {
	.tab-button-outer {
		position: relative;
		display: block;
	}
	.tab-select-outer {
		display: none;
	}
	.tab-contents {
		position: relative;
		top: -1px;
		margin-top: 0;
	}
}
table.tab-table{
	text-align: center;
	font-size: 12px;
}
table.tab-table thead th {
	text-align: center;
	background-color: #f3f3f3;
}
.tab-inner {
	padding: 15px 0;
	width: 100%;
	overflow-x: scroll;
}
.font-16{
	font-size: 16px;
}
/**********Tabs***********/

a.create-user i{
	font-size: 25px;
    margin-top: 7px;
    color: #333;
    margin-right: 10px;
}
ul.grid-head button {
    width: 80px;
    font-size: 12px;
}

/**********Responsive***********/

@media (min-width:767px) and (max-width:992px){
	.custom-theme{
		width: 100%;
		padding: 10px;
		font-size: 12px;
	}
	.buttons{
		padding: 15px;
	}
}
@media (max-width:767px){
	.navbar{
		padding-left: 0;
	}
	ul.nav.navbar-nav.navbar-right {
		display: inline-block;
		padding-bottom: 20px;
	}
	section.booking .grid .head p{
		text-align: center !important;
	}
	ul.grid-head li {
		padding: 0;
	}
	ul.grid-head li button {
		padding: 5px;
		width: 62px;
	}
	ul.grid-head li button i{
		display: none;
	}
	ul.grid-head{
		text-align: center;
	}
	select#tab-select {
		padding: 10px;
		width: 100%;
		background-color: #0189b9;
		color: #fff;
	}
	.custom-theme{
		width: 100%;
	}
	.buttons{
		padding: 15px;
	}
	ul.top.text-right {
		text-align: center !important;
		padding-top: 10px;
	}
	.topbar h3 small{
		font-size: 10px;
	}
	ul.nav.navbar-nav.navbar-right li{
		display: inline-block;
	}
}


/**********Responsive***********/

.grid-head button {
	padding: 6px 12px;
}

.head {
	height: 43px;
}

.head p {
	margin-bottom: 0px;
}

.pickup-detail > .head {
	padding-top: 13px !important;
}

.pickup-detail ul {
	padding-left: 10px;
}

.input-group > span {
	padding-left: 0px !important;
	background: transparent;
}

.input-group > span > a > i {
	color: #007bff !important;
}

.booking .detail-tab {
	box-shadow: none;
}

.detail-tab > .row > .col-sm-4:nth-child(0) {
	padding: 0px !important;
}

.booking .pickup-detail .col-sm-4 a,
.booking .pickup-detail .col-sm-6 a {
	padding: 0;
}

.booking form > .mt-2 .col-sm-4,
.booking form > .mt-2 .col-sm-8, 
.booking form > .mt-1 .col-sm-4,
.booking form > .mt-1 .col-sm-8,
.booking form > .mt-1 .col-sm-6 {
	padding: 0 !important;
}

.booking .additional-pickup > .row .col-sm-12 {
	padding: 0 !important;
}

.booking .additional-pickup > .row .col-sm-12 .col-sm-6:first-child {
	padding-left: 0 !important;
}

.booking .additional-pickup > .row .col-sm-12 .col-sm-6:last-child {
	padding-right: 0 !important;
}

.additional-delivery .col-sm-12 {
	padding: 0px !important;
}

.text-black {
	color: black;
}

.booking .additional-pickup-div,
.booking .additional-delivery-div { 
}

.booking .additional-pickup-div a,
.booking .additional-delivery-div a {
	padding-left: 0px;
}

.pointer {
	cursor: pointer;
}

div.pick-dates,
div.deliver-date {
	padding: 0px;
}

a#pick-date {
	padding-left: 10px;
	padding-right: 10px;
}

#headr a {
	color: white;
	font-size: 16px;
	font-weight: initial !important;
}

.input-group-addon {
	box-shadow: none;
}

.user-header .row {
	display: block !important;
}

.user-header .content {
	margin-top: 10px;
}